.headerSec{
    display: flex;
    flex-direction: row;
    margin-bottom: -8%;
}
.nav-item{
    transform: translate(-10%,-15%);
}
.headTitle{
    font-size: 11px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: pink;
    transform: translate(130%,30%);
    
}