.timerSec{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: -30px;
    padding-bottom: 15px;
    height: 100px;
    width: 250px;
}
.secTimer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.countdown-timer {
    width: 200px;
    height: 90px;
    font-family: 'Cinzel', serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.countdown-timer span {
    margin-left: 10px;
    margin-right:5px;
}
.countClock{
    display: flex;
    flex-direction: column;
    color:#696880;
}
.countdownLabel{
    display: flex;
    justify-content: center;
    color:#696880;
    font-family: 'Cinzel', serif;
    margin-top: -30px;
}
.typeLabel{
    margin-left: 23px;
    transform: translateX(-30%);
    margin-top: -8px;
    font-size: 10px;
}


@media only screen and (max-width: 600px) {
    .timerSec{  
    transform: translate(28%,0%);
    }
  }

  @media only screen and (max-width: 600px) {
    .countdown-timer{  
    font-size: 10px;
    }
  } 
  
  @media only screen and (max-width: 600px) {
    .typeLabel{  
    font-size:9px;
    letter-spacing: -1px;
    margin-left: 7px;
    }
  } 
  @media only screen and (max-width: 600px) {
    .countdown-timer span{  
        margin-left: 2px;
    }
  } 