.timerSec{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: -30px;
    padding-bottom: 20px;
    box-shadow: orange 3px 4px 6px;
    height: 100px;
    width: 400px;
}
.secTimer{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.countdown-timer {
    width: 600px;
    height: 100px;
    font-family: 'Mulish', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.countdown-timer span {
    margin-left: 10px;
    margin-right: 10px;
}
.countClock{
    display: flex;
    flex-direction: column;
    color:white;
}
.countdownLabel{
    display: flex;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    color:white;
    margin-top: -30px;
}
.typeLabel{
    margin-left: 15px;
    margin-right: 20px;
    transform: translateX(28%);
}