body{
    background-color: beige;
    
}
.mainSecOne{
  display: flex;
  justify-content:center ;   
}
.mainSec{
  display: flex;
  justify-content: center;

}
.mainSec img{
  display: flex;
  justify-content: center;
  width: 50%;
  height: 90%;
  border: #d9c4ec solid 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate(-45%,20%) rotate(10deg);
}
.enterBtn{
 
transform: translate(0%,1000%);
border:solid 2px white;

}
.enterBtn h2{
  color:white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.enterBtn:hover{
  color:#1c2821; 
}

.cdTimer{
  color:white;
  transform: translate(0%,190%);
}

.wedNames{
  color:navy;  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cinzel', serif;
}
.wedNames h3{
    word-spacing: 1px;
    margin-bottom: 10px;
}
.wedNames h1{
 font-size: 15px;
 margin-top: 10px;
 
}
  .address{
      transform: translate(0px,-100px);
  }