body{
  height: 100%;
  overflow-y: hidden;
}
.mainSection{
  display: flex;
  justify-content: center;
  flex-direction: row;
 

}
.mainSecOne{
  display: flex;
  justify-content:center ;  
  position: absolute;
  width: 100%;
height: 758px;
margin-top: -100px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.mainSecOne img{
  width: 100%;
}
.mainSec{
  display: flex;
  justify-content: center;
}
.mainSec img{
  display: flex;
  justify-content: center;
  width: 65%;
  height: 60%;
  border: #d9c4ec solid 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate(-15%,20%) rotate(10deg);
}

.mainSec2 img{
  display: flex;
  justify-content: center;
  width: 70%;
  height: 70%;
  border: #d9c4ec solid 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate(35%,-15%) rotate(0deg);
}
.mainSec3 img{
  display: flex;
  justify-content: center;
  width: 70%;
  height: 70%;
  border: #d9c4ec solid 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate(25%,-260%) rotate(-5deg);
}
.mainSec4 img{
  display: flex;
  justify-content: center;
  width: 60%;
  height: 80%;
  border: #d9c4ec solid 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate(-20%,-160%) rotate(-7deg);
}
.enterBtn{
 
transform: translate(0%,1000%);
border:solid 2px white;

}
.enterBtn h2{
  color:white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.enterBtn:hover{
  color:#1c2821; 
}

.cdTimer{
  color:white;
  transform: translate(0%,190%);
}

.wedNames{
  color:beige;  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'IBM Plex Serif', serif;
  transform: translate(0%,330%);
  position: absolute ;
  
}
.wedNames h3{
    word-spacing: -3px;
    font-size: 40px;
}
.wedNames h1{
 font-size: 15px;

}
  .address{
      transform: translate(0px,-100px);
  }