.topSection{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.sectionOne{
    margin-top: -20px;
    margin-left: 10px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
    color:white;
}
