.navSection{
    margin-bottom: 100px;
    margin-top: 2px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 15px;
}

.navLink{
    font-family: 'Cormorant Garamond', serif;
    display: flex;
   
    
}