.theeAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -40px;
    padding-top: 90px;
    padding-bottom: 90px;
    border: solid 1px #ecd9ba;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 700px;
    overflow-y: hidden;
    width: 100%;
}
.boutDesc1{
   
}
.aboutDesc{
    width:950px;
    font-size: 12px;
    font-family: 'Alegreya', serif;
    transform: translate(5%,-30%);
}
.losFotos{
    display: flex;
    flex-direction: row;
}
.coupleFoto img{
    width:300px;
    height: 300px;
    transform: translate(15%,-5%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.coupleFoto2 img{
    width:300px;
    height: 400px;
    transform: translate(20%,0%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.coupleFoto3 img{
    width:350px;
    height: 350px;
    transform: translate(20%,-5%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.fotoBox{
    width:330px;
    height: 330px;
    background-color: #ecd9ba;
}

@media only screen and (max-width: 600px) {
    .theeAbout{  
        display: flex;
        flex-direction: column;
    }
  }
  @media only screen and (max-width: 600px) {
    .aboutDesc p{  
       font-size: 9px;
       width: 400px;
       transform: translate(0%,135%);
    }
  }
  @media only screen and (max-width: 600px) {
    .losFotos {  
        display: flex;
        flex-direction: column; 
    }
  }
  @media only screen and (max-width: 600px) {
    .coupleFoto img{  
        width:200px;
        height: 250px;  
       transform: translate(-20%,70%);
    }
  }
  @media only screen and (max-width: 600px) {
    .coupleFoto2 img{  
        width:250px;
        height: 280px;  
        transform: translate(100%,-30%);
    }
  }
  @media only screen and (max-width: 600px) {
    .coupleFoto3 img{  
        width:250px;
        height: 280px;  
        transform: translate(40%,-70%);
    }
  }
  @media only screen and (max-width: 600px) {
    .fotoBox{  
        width:200px;
        transform: translate(150%,750%);
    }
  }
  



